@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Cormorant+SC:wght@400;600&display=swap');

:root {
    --ottoman-ivory: #EFEBD6;
    --ottoman-sandstone: #DFC6A0;
    --ottoman-gold: #B08D57;
    --ottoman-blue: #00587A;
    --ottoman-dark-blue: #00487A;
    --ottoman-red: #7C0A02;
    --ottoman-dark-red: #300000;
    --ottoman-darker-red: #200000;
    
    --font-family-title: "Cormorant SC", "Georgia", serif;
    --font-family-other: "Cormorant Garamond", "Georgia", serif;
}

/* general */
.page-container {
    background-color: var(--ottoman-ivory);
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family-title);
}

.container {
    padding: 0px;
    margin: 0px;
}

::selection {
    color: var(--ottoman-gold);
    background-color: var(--ottoman-blue);
}

.dash-spinner-container {
    background-color: var(--ottoman-ivory) !important;
}

ul {
  list-style: none;
  padding-left: 2em;
}

ul li {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.8em;
}

ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 0.6em;
  height: 0.6em;
  background-color: var(--ottoman-dark-blue);
  transform: rotate(45deg);
}

a {
  color: var(--ottoman-dark-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* navbar */
.navbar-header {
    position: sticky;
    top: 0;
    z-index: 500;
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family-other);
    background-color: var(--ottoman-dark-red) !important;
    box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.navbar-container {
    margin: 0px;
    padding: 0rem 0.75rem;
    flex-direction: column;
    width: 100%;
}

.navbar-row {
    padding: 0px;
    width: 100%;
}

.navbar-column {
    padding: 0px;
    width: 100%;
}

/* navbar - top layer */
.navbar-top-layer {
    flex-wrap: nowrap;
    padding: 0.75rem 0rem;
    width: 100%;
}

.navbar-logo-container {
    flex: auto;  
    flex-wrap: nowrap;
    padding: 0px;
}

.navbar-logo {
    height: 3rem;
    width: auto;
    margin-left: 0rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.navbar-title {
    padding: 0px;
    font-family: var(--font-family-title);
    font-size: 1.5rem;
    font-weight: 600;
    vertical-align: middle;
}

@media (max-width: 420px) {
    .navbar-title {
        font-size: calc(1.5rem - 0.1 * (420px - 100vw));
    }
}

.navbar-top-layer a, .navbar-top-layer a:hover {
    text-decoration: none;
    color: var(--ottoman-ivory);
}

.navbar-toggler-container {
    display: flex;
    width: max-content;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}

.navbar-toggler {
    opacity: 0;
    display: none;
}

@media (max-width: 855px) {
    .navbar-toggler {
        opacity: 100;
        display: block;
    }
}


/* navbar - separators */
.navbar-horizontal-separator {
    height: 1px;
    margin: 0 auto;
    max-width: calc(100% - 32rem);
    min-width: 32rem;
    background-color: var(--ottoman-gold);
    opacity: 0.4;
}

.navbar-vertical-separator {
    height: 1.5rem;
    width: 1px;
    background-color: var(--ottoman-gold);
    margin: 0px 0.5rem;
    opacity: 0.4;
}

@media (max-width: 855px) {
    .navbar-horizontal-separator {
        max-width: calc(100% - 16rem);
        min-width: 16rem;
    }
    .navbar-vertical-separator {
        display: none;
    }
}

/* navbar - bottom layer */
.navbar-bottom-layer {
    padding: 0px;
    margin: auto;
    background-color: var(--ottoman-dark-red) !important;
    width: 100%;
}

.navbar-nav {
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 855px) {
    .navbar-nav {
        flex-direction: column;
    }
}

/* navbar - items */
@media (min-width: 855px) {
  #navbar-collapse {
    display: flex;
    visibility: visible;
  }
}

.navbar-bottom-layer .nav-link,
.navbar-bottom-layer .dropdown-toggle {
    color: var(--ottoman-ivory);
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}
.navbar-bottom-layer .nav-link:hover {
    text-decoration: underline;
}
.navbar-bottom-layer .nav-item:hover .dropdown-toggle {
    background-color: var(--ottoman-darker-red);
}
.navbar-bottom-layer .nav-item .dropdown-toggle:active {
    outline: transparent;
    color: var(--ottoman-ivory);
    background-color: var(--ottoman-darker-red);
    border-color: transparent;
}

/* navbar - dropdown menu and items */
.navbar-dropdown-menu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0; 
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    margin: 0rem;
    padding: 0.25rem;
    background-color: var(--ottoman-darker-red);
    border: transparent;
    border-radius: 0rem 0rem 0.75rem 0.75rem;
    font-size: 1rem;
    box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.navbar-dropdown-menu .dropdown-item {
    background-color: transparent;
    color: var(--ottoman-ivory) !important;
    padding: 0.75rem 1rem;
}
.navbar-dropdown-menu .dropdown-item:hover {
    text-decoration: underline;
}

/* content area */
.introduction-container {
    margin: auto;
    padding-top: 7.5rem;
}

@media (max-width: 992px) {
  .introduction-container {
    padding-top: 5.25rem;
  }
}

@media (max-width: 576px) {
  .introduction-container {
    padding-top: 3rem;
  }
}

.introduction-right-widget-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1200px) {
    .introduction-right-widget-container {
        margin-top: 1rem;
    }
}

.introduction-title {
    color: var(--ottoman-gold);
    font-family: var(--font-family-title);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 3rem;
}

@media (max-width: 576px) {
  .introduction-title {
    text-align: center;
  }
}

.section-container {
    margin: 0px;
    padding: 0px;
}

.figure-frame {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.figure-row {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 1200px) {
    .figure-row {
        flex-direction: row;
    }
}

.figure-container {
    background-color: var(--ottoman-ivory);
    padding: 1rem;
    margin: 2.5rem 0px;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
    border: 2px solid var(--ottoman-gold);
    min-height: 36rem;
}

@media (max-width: 1200px) {
    .figure-container {
        padding: 1rem;
        width: 100%;
        aspect-ratio: 10 / 5.5;
        min-height: auto;
    }
}

@media (max-width: 992px) {
    .figure-container {
        padding: 0.75rem;
        width: 100%;
        aspect-ratio: 10 / 7;
        min-height: auto;
    }
}

@media (max-width: 768px) {
    .figure-container {
        padding: 0.5rem;
        width: 100%;
        aspect-ratio: 10 / 8;
        min-height: auto;
    }
}

@media (max-width: 576px) {
    .figure-container {
        padding: 0.25rem;
        width: 100%;
        aspect-ratio: 1;
        min-height: auto;
    }
}

@media (max-width: 576px) {
    .js-plotly-plot .xtick text {
        font-size: calc(16px - 0.015 * (576px - 100vw)) !important;
    }

    .js-plotly-plot .ytick text {
        font-size: calc(16px - 0.015 * (576px - 100vw)) !important;
    }
    
    .js-plotly-plot .y2tick text {
        font-size: calc(16px - 0.015 * (576px - 100vw)) !important;
    }
    
    .js-plotly-plot .xtitle {
        font-size: calc(16px - 0.0025 * (576px - 100vw)) !important;
    }

    .js-plotly-plot .ytitle {
        font-size: calc(16px - 0.0025 * (576px - 100vw)) !important;
    }
    
    .js-plotly-plot .y2title {
        font-size: calc(16px - 0.0025 * (576px - 100vw)) !important;
    }

    .js-plotly-plot .legend text {
        font-size: calc(20px - 0.0325 * (576px - 100vw)) !important;
    }

    .js-plotly-plot .gtitle {
        font-size: calc(28px - 0.0325 * (576px - 100vw)) !important;
    }
    
    .js-plotly-plot .legend {
        opacity: 0;
        display: none;
    }
}

.figure-container > div,
.figure-container > div > div:not(#loader) {
  height: 100%;
}

.figure-filter-container {
    background-color: var(--ottoman-sandstone);
    margin-top: 2.5rem;
    padding: 1.25rem 5rem;
}

@media (max-width: 1200px) {
  .figure-filter-container {
    padding: 1.25rem 5rem;
  }
}

@media (max-width: 768px) {
  .figure-filter-container {
    padding: 1.25rem 2.5rem;
  }
}

@media (max-width: 576px) {
  .figure-filter-container {
    padding: 1.25rem 1rem;
  }
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2.5rem 0px;
    padding-top: 1.25rem;
}

@media (max-width: 1200px) {
  .filter-container {
    padding: 0px;
  }
}

.filter-dropdown {
    margin: 0.25rem 0rem;
}

.filter-title {
    color: var(--ottoman-gold);
    text-align: center;
    font-family: var(--font-family-title);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.25rem;
}

@media (max-width: 1200px) {
  .filter-title {
    margin-top: 1.5rem;
  }
}

.content-container {
    padding: 0px 15rem;
}

@media (max-width: 1200px) {
  .content-container {
    padding: 0px 7.5rem;
  }
}

@media (max-width: 768px) {
  .content-container {
    padding: 0px 3.75rem;
  }
}

@media (max-width: 576px) {
  .content-container {
    padding: 0px 1rem;
  }
}

.content-title {
    scroll-margin-top: 10rem;
    color: var(--ottoman-gold);
    text-align: center;
    font-family: var(--font-family-title);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.content-body {
    color: var(--ottoman-darker-red);
    font-family: var(--font-family-other);
    font-size: 1.5rem;
    font-weight: 400;
}

.content-horizontal-separator {
    height: 1px;
    width: 75%;
    margin: 3rem auto;
    background-color: var(--ottoman-gold);
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
    opacity: 0.4;
}

@media (max-width: 1200px) {
  .content-horizontal-separator {
    margin: 3rem auto;
  }
}

@media (max-width: 768px) {
  .content-horizontal-separator {
    margin: 3rem auto;
  }
}

@media (max-width: 576px) {
  .content-horizontal-separator {
    margin: 3rem auto;
  }
}

.content-vertical-separator {
    width: 1px;
    height: 90%;
    margin: 2rem auto;
    background-color: var(--ottoman-gold);
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
    opacity: 0.4;
}

@media (max-width: 1200px) {
    .content-vertical-separator {
        width: auto;
        height: 1px;
        margin: 1rem 3rem;
        margin-top: 3rem;
        padding: 0rem;
        background-color: var(--ottoman-gold);
        box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
        opacity: 0.4;
    }
}

.table-of-contents-title {
    color: var(--ottoman-gold);
    font-family: var(--font-family-title);
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.table-of-contents-section-link {
    color: var(--ottoman-gold);
    font-family: var(--font-family-title);
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 3rem;
    text-decoration: none;
}
.table-of-contents-section-link:hover {
    text-decoration: underline;
}

.table-of-contents-horizontal-separator {
    height: 1px;
    margin: 1rem 1rem;
    background-color: var(--ottoman-gold);
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
    opacity: 0.4;
}

.table-of-contents-container {
    background-color: var(--ottoman-sandstone);
    padding: 1rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
    border: 2px solid var(--ottoman-gold);
    max-width: 30rem;
}